*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #f3f3f3;
  --background-dark: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-primary: 'Roboto', sans-serif;
  --button-size: 80px;
  --button-color: #e6e6e6;
  --button-color-hover: #d6d6d6;
  --operation-button-color: #ff9800;
  --operation-button-color-hover: #e68a00;
}

body {
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.calculator {
  background-color: var(--background-dark);
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.calculator-display {
  width: 100%;
  background-color: rgb(162, 159, 159);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  text-align: right;
  outline: none;
  color: white;
}

.calculator-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calculator-button {
  background-color: var(--button-color);
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  font-size: 1.5rem;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator-button-0 {
  width: 157px;
  height: 80px;
  border-radius: 40px;
}

.calculator-button:hover {
  background-color: var(--button-color-hover);
}

.calculator-button.operation {
  background-color: var(--operation-button-color);
  color: black;
}

.calculator-button.operation:hover {
  background-color: var(--operation-button-color-hover);
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .calculator {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .calculator-display {
    padding: 15px;
    margin-bottom: 15px;
  }

  input[type="text"] {
    font-size: 1.5rem;
  }

  .calculator-row {
    margin-bottom: 5px;
  }

  :root {
    --button-size: 60px;
  }

  .calculator-button-0 {
    width: 118px;
    height: 60px;
  }
}
