*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #f3f3f3;
  --background-dark: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-primary: 'Roboto', sans-serif;
  --button-size: 80px;
  --button-color: #e6e6e6;
  --button-color-hover: #d6d6d6;
  --operation-button-color: #ff9800;
  --operation-button-color-hover: #e68a00;
}

body {
  background-color: var(--background-light);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #333;
  width: 100%;
}

.navbar-name {
  color: white;
  margin: 0 0 0 40px;
  text-align: center;
  font-size: 2rem;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.navbar-links a:hover,
.navbar-links a.active-link {
  color: #f0c419;
}

.calculator {
  background-color: var(--background-dark);
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-display {
  width: 100%;
  background-color: rgb(162, 159, 159);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

input[type='text'] {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  text-align: right;
  outline: none;
  color: white;
}

.calculator-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calculator-button {
  background-color: var(--button-color);
  width: var(--button-size);
  height: var(--button-size);
  border: none;
  font-size: 1.5rem;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator-button-0 {
  width: 157px;
  height: 80px;
  border-radius: 40px;
}

.calculator-button:hover {
  background-color: var(--button-color-hover);
}

.calculator-button.operation {
  background-color: var(--operation-button-color);
  color: black;
}

.calculator-button.operation:hover {
  background-color: var(--operation-button-color-hover);
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  max-width: 400px;
}

.quote-author {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.quote-loading {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #777;
}

.quote-error {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #c00;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 2.5rem;
}

.app main {
  flex: 1;
}

.home,
.calculator-page,
.quote-page {
  padding: 3rem;
}

.home h2 {
  margin-bottom: 3rem;
  text-align: left;
  font-size: 3rem;
}

.home ul {
  margin: 25px 0 25px 0;
}

.calculator-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator-page h2,
.quote-page h2 {
  margin-bottom: 1rem;
}

.calculator-page h2 {
  text-align: left;
  margin-right: 12rem;
  align-self: flex-start;
  font-size: 5rem;
}

.home-list {
  list-style: none;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .calculator {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .calculator-display {
    padding: 15px;
    margin-bottom: 15px;
  }

  input[type='text'] {
    font-size: 1.5rem;
  }

  .calculator-row {
    margin-bottom: 5px;
  }

  :root {
    --button-size: 60px;
  }

  .calculator-button-0 {
    width: 118px;
    height: 60px;
  }

  .calculator-page {
    flex-direction: column;
  }

  .calculator-page h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;
    text-align: center;
  }

  .navbar-name {
    margin-left: 0;
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .calculator-page {
    flex-direction: column;
    align-items: center;
  }

  .calculator-page h2 {
    margin-right: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}
